<div class='box' >
	<h2><%= @record.title %></h2>
	<h3>By <%= User.find(@record.user_id).username %></h3>
	<p><%= simple_format(@record.description) %></p>
	<% if !@record.init_attempt %>
		<p class='warning'>You have not attempted this record yet. Only you can see it. You must make an attempt below before it is public.</p>
	<% end %>
</div>

<div class='box'>
	<a href='/attempt/new?record_id=<%= @record.id %>' style='width: 100%'><button style='width: 100%'>Attempt this record!</button></a>
</div>

<div class='space'></div>

<% @record.attempts.each do |attempt| %>
	<div class='box' >
		<h2><%= User.find(attempt.user_id).username %> attempted at <%= attempt.created_at %></h2>
		<% if attempt.success.present? %>
			<% if attempt.success %>
				<p>and succeeded!</p>
			<% else %>
			  <p>and failed</p>
			<% end %>
		<% else %>
			<p>status pending</p>
		<% end %>
		<% if @current_holder_id == attempt.id %>
			<p>Current Holder</p>
		<% end %>
		<button id='<%= attempt.id %>' onclick='toggleVideo(this.id)'>Show Video</button>

		<video playsinline preload class='videoContainer' id='videoContainer<%= attempt.id %>' style='display: none' controls></video>
	</div>
	<div class='space'></div>
<% end %>

<script type="text/javascript">
	function toggleVideo(id) {
		let videoContainer = document.getElementById('videoContainer' + id);
		let button = document.getElementById(id);

		if (videoContainer.style.display == 'none') {
			if (!videoContainer.innerHTML) {
				$.ajax({
		      type: "GET", 
		      url: '/video/' + id,
		      success: function(data) {
		      	videoContainer.innerHTML = '<source type=\'video/mp4\' src=\'' + data.video + '\'>';
		      }
		    });
			} videoContainer.style.display = 'block';
			button.innerHTML = 'Hide Video';
		} else {
			videoContainer.style.display = 'none';
			button.innerHTML = 'Show Video';
		}

	}
</script>