<% if flash[:errors] %>
  <% flash[:errors].each do |error| %>
    <div class='error'><p class='warning'><%= error %></p></div>
  <% end %>
<% end %>

<div class="box">

	<%= form_for(:user, url: {controller: 'user', action: 'create'}) do |f| %>
    <%= f.text_field :username, placeholder: 'Username' %><br/>
    <%= f.password_field :password, placeholder: 'Password' %><br/>
    <%= f.submit :Signup %>
	<% end %>

	<% if @user.errors.any? %>
    <ul class="Signup_Errors">
    <% for message_error in @user.errors.full_messages %>
      <li>* <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>

</div>

<div class='space'></div>

<div class="box">

  <%= form_tag('/login', method: 'post') do %>
    <%= text_field_tag(:username, '', placeholder: 'Username') %><br/>
    <%= password_field_tag(:password, '', placeholder: 'Password') %><br/>
    <%= submit_tag("Login") %>
  <% end %>

</div>