<!DOCTYPE html>
<html>
  <head>
    <title>NailedIt</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<div id='topbar'>
  		<h1 id='logo'><a href='/'>nailed it.</a></h1>
      <%= form_tag('/logout' , method: 'post', style: 'float: right;') do%>
        <%= submit_tag("logout") %>
      <% end %>
      <% if @current_user %>
        <p style='float:right;'>Hi, <%= @current_user.username %></p>
      <% end %>
  	</div>
  	<div style='height: 150px'></div>
    <%= yield %>
  </body>
</html>
